<div class="card-container">
  <div class="card">
    <div class="user-market-products">
      <h2>Vamos economizar?</h2><br>
      <h3>Produtos Disponíveis</h3><br>
      <ul *ngIf="products.length > 0">
        <div class="product-user">
          <li *ngFor="let product of products">
            {{ product.name }} - R$: {{ product.price }} - QTD: {{ product.quantity }}
            <button (click)="addToCart(product)">Adicionar ao Carrinho</button>
          </li>
        </div>
      </ul>
    </div>
      <p class="warning" *ngIf="products.length === 0">Nenhum produto cadastrado.</p>
      <div class="carrinho" *ngIf="cart.length > 0">
        <h2>Carrinho de Compras</h2>
        <ul>
          <li *ngFor="let item of cart">
            {{ item.product.name }} - Quantidade: {{ item.quantity }}
            <button (click)="removeFromCart(item)">Remover do Carrinho</button>
          </li>
        </ul>
        <button class="finalizar-compra" (click)="checkout()">Finalizar Compra</button>
      </div><br>
      <app-btn-login></app-btn-login>
  </div>
</div>
