
/* ---------- COMPONENTS ---------- */

* {
  box-sizing: border-box;
}
body, html, * {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  background-image: url('/assets/images/background_white.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

/* ---------- CARD CONTAINER ---------- */

.card-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 5%;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  max-width: 100%;
}
.card {
  background-color: #39673b;
  opacity: 0.92;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #FFF;
}
.card h1, .card h2, .card h3 {
  color: #fffdfd;
}
.card h1 {
  text-align: center;
}

/* ---------- TITLE LOGIN ---------- */

#login-title {
  color: #fff;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  font-size: 24px;
  text-align: center;
}

/* ---------- LOGIN FORM ---------- */

.login-form {
  width: 400px;
  margin: 0 auto;
}
.login-form label {
  width: 60px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.login-form input {
  width: calc(100% - 120px);
  height: 25px;
  border-radius: 5px;
  margin-top: 5px;
}
#login-title {
  color: white;
  align-items: center;
}
.warning {
  margin-bottom: 10px;
  text-align: center;
  color: grey;
  font-size: smaller;
}

/* ---------- BOTÃO RADIO ---------- */

.radio-group {
  margin-top: 10px;
  margin-left: 30%;
}
.radio-group label {
  margin-right: 30px;
}
.radio-group input[type="radio"] {
  margin-right: 5px;
}

/* ---------- BOTÃO SUBMIT ---------- */

.btn-submit {
  text-align: center;
}
button[type="submit"] {
  background-color: #afd1b0d4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
}
button[type="submit"]:hover {
  background-color: #0056b3;
}
button[type="submit"]:active {
  background-color: #003c80;
}

/* ---------- BOTÃO APPS ---------- */

.btn-form {
  text-align: center;
}
button[type="submit"] {
  background-color: #afd1b0d4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  font-size: small;
}
button[type="submit"]:hover {
  background-color: #0056b3;
}
button[type="submit"]:active {
  background-color: #003c80;
}

/* ---------- TABELA APPS ---------- */

.tabela {
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}
.tabela th, .tabela td {
  border: 1px solid #fff;
  padding: 8px;
}
.tabela th {
  background-color: #afd1b0d4;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.tabela tr {
  background-color: #39673b;
  color: #fff;
  text-align: center;
}
.tabela tr:nth-child(even) {
  background-color: #5d9254;
}

/* ---------- TABELA SELLER PRODUCTS ---------- */

.seller-form {
  width: 400px;
  margin: 0 auto;
}
.seller-form input {
  width: calc(100% - 120px);
  height: 25px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#seller-title {
  color: white;
  align-items: center;
}
.btn-seller {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#btn-product,
#btn-show {
  background-color: #afd1b0d4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 200;
  font-size: 12px;
  width: 45%;
  margin-left: 0;
  margin-bottom: 15px;
}
#btn-product:hover,
#btn-show:hover {
  background-color: #0056b3;
}
#btn-product:active,
#btn-show:active {
  background-color: #003c80;
}
.seller-form {
  width: 400px;
  margin: 0 auto;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ---------- SELLER PRODUCT FORM ---------- */

.formfield{
  text-align: center;
  margin-bottom: 10px;
}
.title-seller {
  text-align: left;
  color: black;
  padding-bottom: 5px;
}

/* ---------- FORM USER MARKET ---------- */

.user-market-products {
  overflow-y: auto;
  max-height: 100%;
}
.product-user {
  margin-top: 10px;
  margin-bottom: 20px;
}
.product-user li {
  list-style: none;
  border: 1px solid #afd1b0d4;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-user button {
  background-color: #003c80;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.product-user button:hover {
  background-color: #0056b3;
}
.product-user button:active {
  background-color: #003c80;
}
.carrinho {
  margin-top: 20px;
}
.carrinho h2 {
  color: #fff;
}
.carrinho li {
  list-style: none;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #afd1b0d4;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carrinho button {
  background-color: #003c80;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.carrinho button:hover {
  background-color: #0056b3;
}
.carrinho button:active {
  background-color: #003c80;
}
.finalizar-compra {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* ---------- CAMPOS DE PAGAMENTO ---------- */

.payment-form {
  width: 400px;
  margin: 0 auto;
}
.payment-form .formfield {
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.payment-form label {
  width: 80px;
  text-align: center;
  margin-right: 10px;
}
.payment-form input {
  flex: 1;
  height: 25px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.payment-form button[type="submit"] {
  background-color: #afd1b0d4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 200;
  font-size: 12px;
  width: 100%;
}
.payment-form button[type="submit"]:hover {
  background-color: #0056b3;
}
.payment-form button[type="submit"]:active {
  background-color: #003c80;
}

/* ---------- CONFIRMED CONTAINER ---------- */

.confirmed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* ---------- LOGO CONTAINER ---------- */

.logo-container {
  margin-bottom: 20px;
}
.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/* ---------- CONFIRMATION CONTENT ---------- */

.confirmation-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.confirmation-content h1 {
  color: #0056b3;
}
.payment-image img {
  max-width: 30%;
  border-radius: 10px;
  margin-top: 10px;
}
.confirmation-content p {
  margin-top: 20px;
}

/* ---------- BOTÃO REDIRECIONAR ---------- */

button {
  background-color: #0056b3;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
}
button:hover {
  background-color: #003c80;
}
button:active {
  background-color: #002650;
}

/* ---------- BOTÃO TABLE VENDER ---------- */

.btn-table {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.btn-table button {
  flex: 1;
  background-color: #afd1b0d4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  margin: 0 5px;
}
.btn-table button:hover {
  background-color: #0056b3;
}
.btn-table button:active {
  background-color: #003c80;
}
